.Band {
    position: relative;
    padding: 10px;
    border: 5px solid #000000;
    background: #cecece;
  }
  
  .Band h3 {
    padding-top: 2px;
    color: #4f4f4f;
    font-size: 120%;
  }
  

  .Band p {
    font-family: "Flexo-Bold",arial,sans-serif;
    color: #4f4f4f;
    font-size: 100%;
    padding-top: 2px;
  }
 

  